html{
    background: url("../img/about-us-background.webp") !important;
    background-repeat: no-repeat !important;
    overflow: hidden;
    height: 100%;
}

body{
    background-color: #101010;
    color: #ffff
}

#colophon{
    background-color: #101010;
}